{% import '@server_theme/templates/server-theme-bg-color-base.html.twig' as bgColorBase %}

{% set color_class = bgColorBase.getBgColor(bg_color) %}

<div class="{{ color_class }}">
  {{ items }}
</div>

